# SPDX-License-Identifier: GPL
config SECURITY_IEI
       bool "IEI Linux Security Module"
       depends on SECURITY
       select SECURITYFS
       help
         IEI(Inode-bound Execution Integrity) is a
	 simple Linux Security Module for experimental
	 and research purposes.